@model PlayerViewModel
@{
    ViewBag.Title = "Add a Player";
}

@if (@TempData["Message"] != null)
{
    <div class="alert-danger">@TempData["Message"]</div>
}



<h2>Add a Player <a asp-action="Index" class="btn btn-sm btn-outline-secondary">Back</a></h2>

    <form asp-action="Add" method="post" enctype="multipart/form-data">

    <input asp-for="PlayerUniqueId" hidden="hidden" />

    <div class="form-group">
        <label asp-for="SiteId"></label>
        <select asp-for="SiteId" asp-items="@Model.SiteList" class="form-select border-0 shadow">
            <option disabled selected>--Select Site--</option>
        </select>
        <span asp-validation-for="SiteId" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="PlayerName"></label>
        <input asp-for="PlayerName" class="form-control border-0 shadow" />
        <span asp-validation-for="PlayerName" class="text-danger"></span>
    </div>
    
    <div>
        <label asp-for="CheckInFrequency"></label>
        <input asp-for="CheckInFrequency" class="form-control border-0 shadow" />
        <span asp-validation-for="CheckInFrequency" class="text-danger"></span>
    </div>
    <div class="text-left panel-body mt-5">
        <button type="submit" class="btn btn-sm btn-outline-primary">Add</button>
    </div>
</form>

@if (Model is not null && Model.PlayerUniqueId != "")
{
    <h2>Player</h2>
    <table class="table table-sm table-striped table-bordered m-2">
        <thead>
            <tr>
                <th>Unique Id</th>
                <th>Player Name</th>
                <th>Site</th>
                <th>Check In Frequency</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.PlayerUniqueId</td>
                <td>@Model.PlayerName</td>
                <td></td>
                <td>@Model.CheckInFrequency</td>
            </tr>
        </tbody>
    </table>
}