@model List<SiteReadDto>

@{
    ViewData["Title"] = "All Sites";
}

@if (@TempData["Message"] != null)
{
    <div class="alert-danger">@TempData["Message"]</div>
}

<h2>All Sites</h2>
<a asp-action="Add" class="btn btn-sm btn-outline-primary">Add Site</a>

<table class="table table-sm table-striped table-bordered m-2">
    <thead>
        <tr>
            <th>Site Name</th>
            <th>Site Address</th>
            <th>Date Created</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var s in Model)
        {
            <tr>
                <td>@s.SiteName</td>
                <td>@s.SiteAddress1<br />@s.SiteAddress2<br />@s.SiteTown<br />@s.SiteCounty<br />@s.SitePostcode<br />@s.SiteCountry</td>
                <td>@s.DateCreated</td>
                <td>
                    <table>
                        <tr>
                            <td>
                                <a asp-action="Update" asp-route-id="@s.Id">
                                    <div class="btn btn-sm btn-outline-primary">Edit</div>
                                </a>
                            </td>
                            <td>
                                <form asp-action="Delete" method="post">
                                    <input type="hidden" value="@s.Id" name="id" />
                                    <button class="btn btn-sm btn-outline-danger">Delete</button>
                                </form>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        }
    </tbody>
</table>